{% extends 'base.html' %}
{% load static %}
{% block head %} <link href="{% static 'css/carousel.css' %}" rel="stylesheet"/>
 {% endblock head %}
{% block body %}
    {% include 'carousel.html' %}
    <div class="container" id = "mainarea">
        <div class="row">
        {% for movie in movies %}

              <div class="col-xs-4">
                  <div class="media">
                    <div class="media-middle">
                      <a href="{{ movie.name }}">
                        <img class="media-object img-thumbnail"  src="{{ movie.image.url }}" id = "1st"/>
                      </a>
                    </div>
                    <div class="media-body">
                      <p class="media-heading"> <strong><em>{{ movie.title }}</em></strong>
                            <span class="label label-danger label-xs">Новый</span>

                            <span class="label label-success label-xs">Рекомендованно</span>

                      </p>
                    </div>
                   </div>

              </div>
        {% endfor %}
        </div>

    </div>

{% endblock body%}
